<%= form_for [:admin, @stylesheet], :html => { class: 'form-horizontal' } do |f| %>

  <%= f.hidden_field :site_id, value: @site.id %>

  <%= f.fields_for :content do |content| %>
    <div class="form-group">
      <div class="col-sm-12">
        <%= content.text_area :body, class: 'form-control css-code' %>
      </div>
    </div>
  <% end %>

  <div class="form-group">  
    <div class="col-sm-offset-2 col-sm-4">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), admin_stylesheets_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
