<%# add navigation links to this file %>
<%= render 'layouts/navbar' %>
<% if user_signed_in? %>
  <li class ="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Pages', pages_path %></li>
      <li><%= link_to 'Posts', categories_path %></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation" class="dropdown-header">Site Admin</li>
      <% if can? :update, @site %>
        <li><%= link_to 'Edit Site', edit_admin_site_path(@site) %></li>
      <% end %>
      <li><%= link_to 'Menus', admin_menus_path %></li>
      <li><%= link_to 'Quick Link', quick_links_path %></li>
      <li><%= link_to 'Home Page', admin_home_pages_path %></li>
      <li><%= link_to 'Elements', admin_page_elements_path %></li>
      <li><%= link_to 'Sites', admin_users_path %></li>
    </ul>
  </li>
<% end %>

<% if user_signed_in? %>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
<% end %>